<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Albums</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>For Those About To Rock We Salute You</ion-card-title>
      <ion-card-subtitle>AC/DC</ion-card-subtitle>
    </ion-card-header>

    <ion-button fill="clear">Buy</ion-button>
    <ion-button fill="clear" [routerLink]="['/track/list']">Tracks</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Balls to the Wall</ion-card-title>
      <ion-card-subtitle>Accept</ion-card-subtitle>
    </ion-card-header>

    <ion-button fill="clear">Buy</ion-button>
    <ion-button fill="clear">Tracks</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Restless and Wild</ion-card-title>
      <ion-card-subtitle>Aerosmith</ion-card-subtitle>
    </ion-card-header>

    <ion-button fill="clear">Buy</ion-button>
    <ion-button fill="clear" [routerLink]="['/track/list']">Tracks</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Let There Be Rock</ion-card-title>
      <ion-card-subtitle>AC/DC</ion-card-subtitle>
    </ion-card-header>

    <ion-button fill="clear">Buy</ion-button>
    <ion-button fill="clear">Tracks</ion-button>
  </ion-card>

</ion-content>
