<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (artistName) {
        <ion-back-button></ion-back-button>
      } @else {
        <ion-menu-button></ion-menu-button>
      }
    </ion-buttons>
    <ion-title>{{ artistName ?? 'Albums' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Albums</ion-title>
    </ion-toolbar>
  </ion-header>

  @for (album of albums; track album.id) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ album.name }}</ion-card-title>
        <ion-card-subtitle>{{ album.artistName }}</ion-card-subtitle>
      </ion-card-header>

      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" [routerLink]="['/track/list']" [queryParams]="{ albumId: album.id, albumName: album.name }" >
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
      </ion-button>
    </ion-card>
  }

</ion-content>
